* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

:root {
    --primary-color: ;
    --dark1: #272727;
    --dark2: #474747;
    --dark3: #757575;
    --button: #E55473;
    --background: #e9d0d5;
}
.container {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
}

h1 {
   font-weight: 800;
   font-size: 50px;
   color: var(--dark1);
}
p
{

    color: var(--dark3);
    margin-top: 3%;
    margin-bottom: 4%;
 }
.home {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    justify-content: space-between; 
}

.home-left {
    align-content: center;
    flex: 1;
    margin-left: 10%;
}
button
{
    background-color: var(--button);
    color: #ffff;
    padding: 20px 40px;
    border-radius: 5px;
    border: 0px none;

   }
   

.home-right {
  flex: 1;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  z-index: ;
}

.home-right img{
   height: 100%;
   width: 75vh;
  }

  header{
    color: var(--dark1);
    font-size: 30px;
    font-weight: 800;
   }
  
 


.Featured{
   text-align: center;
   margin: 10%;
}
.flower-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   justify-content: center;
    margin-bottom: 5%;
    gap: 10px;
 
 }

.flower-item {
    text-align: center;
}
.flower-img {
   
    padding-top: 100%;
    border-radius: 50% 50% 0 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.flower-img.left , .flower-img.right
{
   
    background-size: 60%;
    background-position: bottom;
    
}
a
{

    color: var(--dark2);
    font-weight: 600;
    text-decoration: underline;
   
 }
 .features-container
{
   background-color: #27272717;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   margin-bottom: 10%;
   margin-top: 10%;
   
 }
 .features-items
 {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .features-items img
 {
   height: 50px;
   width: 50px;
  }
  .features-items p
 {
   margin: 10px 0px 0px 0px;
   font-size: 12px;
   font-weight: 600;

}
.offer
{
 background-color: var(--background);
  
}
.offer-content
{
 display: flex;
 margin-left: 10%;
 margin-right: 10%;
 align-content: center;
 justify-content: space-around;
 padding: 5% 0%;


}
.offer-left
{
 text-align: center;
 align-items: center;
 align-content: center;
 flex: 1;
  max-width: 50%;   
  height: auto;

}
.offer-right
{
 display: flex;
 justify-content: center;
 

}
.offerflower-img {
    max-width: 80%;   
    height: auto; 
  }
  
span
{
color: var(--button);

}

.instagram
{
  margin: 10%;
  text-align: center;

 
}

.flower-card{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 15px;
 margin-top: 30px;

}

.card-items img
{
 width:100%;
 height: 100%;

}

.latest-deal{
 margin: 10%;
 background-image: url(images/BG-latest\ deal.png);
 background-repeat: no-repeat;
 overflow: hidden;
 text-align: center;
 align-content: center;
 align-items: center;
 background-size: cover;
 background-position: contain;

}
form
{
 display: flex;
justify-content: center;


}
input
{
  border-radius: 6px;
  border: 0px none;
  padding: 10px;
  width: 100vh;
  margin-right: 10px;


}
.latest-content{
 padding: 40px;
   
}
footer
{
 background-color: #111010;
 text-align: center;
 padding: 3% 0%;
 
}
footer header
{
 color: white;

}
footer p
{
 color: aliceblue;

}
.copyright
{
 color: var(--dark3);
 font-size: 12px;

}


@media (max-width: 1199px) {
    
  }
  

@media (max-width: 991px) {
  .home-right{
   display: none;
}
.home{
    background-image: url('images/Bg-flower.png'); /* Background image */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-left {
 margin: 10%;

}
  }
  

@media(max-width: 767px) {
    .flower-card{
        
        grid-template-columns: repeat(2,1fr);
  
       }
       .offer-right {
        display: none;
    }
  }
  

@media (max-width: 575px) {
    .flower-item {
        width: 80%;
    }
    .flower-card{
       
        grid-template-columns: repeat(2,1fr);
        
       }
       h1{
       font-size: 30px;
      
    }
    header{
      font-size: 20px;
     
   }
    .home{
      height: 100vh; 
    }
    .flower-container{
     
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
      justify-items: center;
   
   }
    p{
   font-size: 12px;
  }
  
  button
  {
      background-color: var(--button);
      color: #ffff;
      padding: 10px 20px;
      border-radius: 5px;
      border: 0px none;
  
     }
     
       
}









 
 

   
 

  
